table{
   border-collapse: collapse;
   background-color: #E3F2FA; 
   color: #001B48;
}
td{
    border: 1px solid #96E5D2;
    padding: 5px;
}  thead{
    font-weight: 900;
    font-size: 17px;
    text-align: center;
}
.russian{
    font-weight: 900;
    font-size: 17px; 
}
.kith{
    text-align: left;
}
caption{
    color: rgb(235, 235, 84);
    font-weight: 900;
    font-size: 30px;
    margin-bottom: 15px;
}